## Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Visualizar dataset

In [28]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Dividir dataset en rasgos y clases

In [33]:
x = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

## Preprocesamiento de datos

In [34]:
# --> Valores categoricos para varias columnas para paises

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# --> Transformar varias columnas
ct = ColumnTransformer(
    # Columnas para transformar
    [('one_hot_encoder1', OneHotEncoder(), [1])],
    # Lo que pasara con las demas columnas
    remainder="passthrough"
)

x = ct.fit_transform(x)

In [35]:
# --> Para columna de genero

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

x[:, 4] = label_encoder.fit_transform(x[:, 4])

In [36]:
# --> Solucionar problema de multicolinealidad(eliminar una de las variables dummy)
x = x[:, 1:]

## Dividir en entrenamiento y prueba

In [37]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
x_train

array([[0.0, 1.0, 667, ..., 1, 0, 163830.64],
       [1.0, 0.0, 427, ..., 1, 1, 57098.0],
       [0.0, 0.0, 535, ..., 1, 0, 185630.76],
       ...,
       [0.0, 0.0, 738, ..., 1, 0, 181429.87],
       [0.0, 1.0, 590, ..., 1, 1, 148750.16],
       [1.0, 0.0, 623, ..., 1, 0, 118855.26]], dtype=object)

## Escalado de variables

In [38]:
from sklearn.preprocessing import StandardScaler

# --> Objeto para estandarizar
sc_x = StandardScaler()

# --> Aplicar estandarizacion
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

## Contruir la red neuronal artificial

In [41]:
# --> Librerias

import keras
from keras.models import Sequential     # Red neuronal por capas
from keras.layers import Dense          # Capas densas

In [42]:
# --> Inicializar red neuronal

classifier = Sequential()